.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.contact-container h5{
    font-size: 1.2rem;
}
@media (max-width: 779px) {
    .contact-content{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .contact-container h5{
        text-align: center;
    }
}