.nav{
    padding: 0.5rem .5rem;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}
.navContent{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}
.logo{
    width: 12rem;
    height: 5rem;
    object-fit: cover;
}
.navContent ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}
.navContent li{
    margin: 0 1.5rem;
    cursor: pointer;
}
.menu-item{
    text-decoration: none;
    position: relative;
    font-size: 1rem;    
    font-weight: 500;
}
.menu-item:before{
    content: " ";
    width: 2rem;
    height: .2rem;
    position: absolute;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%) ;
    border-radius: .5rem;
    bottom: -.6rem;
    opacity: 0;
    transform: translate(-1.5rem);
    transition: all 0.3s ease;
}
.menu-item:hover::before{
    width: 100%;
    opacity: 1;
    transform: translate(0);
}
.btn-contact{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%) ;
    padding: .6rem 2rem;
    border: none;
    outline: 1px solid transparent;
    cursor: pointer;
    border-radius: .5rem;
    transition: all 0.3s ease;
}
.btn-contact:hover{
    color: #7e61e7;
    background: #000;
    outline: 1px solid #7e61e7;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.btn-resp span{
    font-size: 1.8rem;
}
.btn-resp{
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}
.btn-resp:hover{
    color: #a993fe;
    background: #000;
    border: 1px solid #a993fe;
}

@media (max-width: 764px){
    .btn-resp{
        display: block;
    }
    .navContent ul{
        display: none;
    }
    .navContent{
        padding: 1rem 1rem;
    }
    
}