
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Roboto+Slab&display=swap');

body {
  font-family: 'Material Symbols Outlined', sans-serif;
}
body{
  color: #fff;
  background-color: #060417;
  font-family: 'Mulish', sans-serif;
}
.conteiner{
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden !important;
}
@media (max-width: 1300px){
    .conteiner{
      padding: 0 1.5rem;
    }
}
